accelerate
numpy>=1.22.2 # pinned by Snyk to avoid a vulnerability
controlnet_aux
diffusers==0.14.0
gdown
hydra-core
mediapipe
omegaconf
opencv-contrib-python
pyiqa
pycocotools
transformers
wandb
wget
myst-parser # for reading md files
sphinx-rtd-theme
Cython
matplotlib>=3.2.2
opencv-python>=4.6.0
pillow>=7.1.2
pyyaml>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.8.0
torchvision>=0.9.0
tqdm>=4.64.0
pandas>=1.1.4
seaborn>=0.11.0